.form {
  text-align: center;
  padding: 25px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.h3 {
  color: #333;
  margin-bottom: 20px;
}
  
.item {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}
  
.button {
  width: 30%;
  color: #fff;
  background-color: #3f93ff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
}
  